<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리뷰 작성</title>
</head>
<body>
<h1>리뷰 작성</h1>

<form th:action="@{/api/reviews/write}" method="post">
    <label for="title">제목:</label>
    <input type="text" id="title" name="title" required>

    <br>

    <label for="content">내용:</label>
    <textarea id="content" name="content" required></textarea>

    <br>

    <label for="rating">평점:</label>
    <input type="number" id="rating" name="rating" min="1" max="5" required>

    <br>

    <button type="submit">리뷰 작성</button>
</form>
</body>
</html>
